:root {
  --main-color: rgb(255, 187, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dosis", serif !important;
}

.container-fluid {
  height: calc(100vh - 56px);
}
.form-box {
  right: 0;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}
.container-fluid.active .form-box {
  right: 50%;
}
.form-box.register {
  visibility: hidden;
}
.container-fluid.active .form-box.register {
  visibility: visible;
}
.container-fluid h1 {
  font-size: 36px;
  margin: -10px 0;
}
.input-box input {
  padding: 13px 50px 13px 20px;
  background: #eee;
  outline: none;
}
@media screen and(max-width: 650px) {
  .input-box input {
    padding: 8px 10px 13px 10px;
  }
}

.input-box i {
  color: rgb(64, 62, 58);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.forgot-link {
  margin: -15px 0 15px;
}
.toggle-box::before {
  content: "";
  position: absolute;
  left: -250%;
  width: 300%;
  background: var(--main-color);
  height: 100%;
  border-radius: 150px;
  z-index: 2;
  transition: 1.8s ease-in-out;
}
.container-fluid.active .toggle-box::before {
  left: 50%;
}
.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.6s ease-in-out;
}
.toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}
.container-fluid.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}
.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: 0.6s;
}
.container-fluid.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}
.toggle-panel .btn {
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}
.fa-google:hover{
  color:red!important;
  transition: 0.3s ease-in-out;
}
.fa-facebook-f:hover{
  color: rgb(0, 174, 255) !important;
  transition: 0.3s ease-in-out;
}
.fa-github:hover{
  color: black !important;
  transition: 0.3s ease-in-out;
}
.fa-linkedin-in:hover{
  color: rgb(0, 34, 255) !important;
  transition: 0.3s ease-in-out;
}